/*
1. Estilos de posicionamiento, static, absolute, relative, fixed
2. Modelo de caja, margin, border, padding, content
3. Tipografia, tipos, tamaños de fuente, etc
4. Temas visuales,  box-shadow, border-radius, gradient, etc
5. Otros, reglas CSS y más
*/
:root{
    /* fuentes */
    --font-dm-sans: 'DM Sans', sans-serif;
    --font-inter: 'Inter', sans-serif; 
    --size-300:300;
	--size-400:400;
	--size-500:500;
	--size-700:700;
    /* colores */
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue:#E7F5FF;
    --warm-black: #201E1C;
    --warm-black-1: #282623;
    --grey: #BABABA;
    --grey-2: rgba(117, 117, 117, 1);
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;
    --section-white-off: #E5E5E5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: var(--font-dm-sans);
}

header {
    width: 100%;
    height: 65vh;
    min-height: 50vh;  
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 32rem;
    text-align: center;
    position: relative;
}

header > img{
    width: 15rem;
    height: 2.4rem;
    margin-top: 5rem;
    align-self: center;
}

.header__title-container{
    width: 90%;
    min-width: 28.8rem;
    max-width: 90rem;
    height: 21.8rem;
    margin-top: 4rem;
    text-align: center;
    align-self: center;
}

.header__title-container h1{
    color: var(--just-white);
    font-size: 2.4rem;
    line-height: 2.6rem;
}

.header__title-container p
{
    color: var(--soft-orange);
    margin: 2.4rem 0;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: var(--size-500);
}

header .header__button{
    text-decoration: none;
    color: var(--warm-black);
    background-color: var(--off-white);
    border-radius: 0.4rem;
    width: 22.8rem;
    height: 5rem;
    display: grid;
    grid-template-columns: auto auto;
    place-content: center;
    align-self: center;
    align-items: center;
    position: absolute;
    bottom: -2rem;
    box-shadow: 0 0.4rem 0.8rem 0 rgba(89, 73, 30, 0.16);
    font-weight: var(--size-700);
    font-size: 1.4rem;
    text-align: center;
}

.header__button img{
    padding-top: 0.6rem;
    padding-left: 0.5rem;
}

main{
    width: 100%;
    height: auto;
    background-color: var(--off-white);
    min-width: 32rem;
}
.section-one{
    width: 100%;
    height: auto;
    padding-top: 8rem;
    padding-bottom: 3rem;
    text-align: center;
}

.section-one .backgroundImg{
    width: 20rem;
    height: 20rem;
    margin: 0 auto;
    background-image: url('./assets/images/Bitcoin.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section-one__description{
    width: 90%;
    min-width: 28.8rem;
    max-width: 90rem;
    margin: 0 auto;
}

.section-one__description h2{
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: bold;
    margin-top: 4rem;
    color: var(--warm-black);
}

.section-one__description p{
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-top: 2.4rem;
    font-weight: var(--size-500);
    color: var(--grey-2);
}

.section-one__tables{
    width: 90%;
    margin: 0 auto;
}
.section-one__tables .tables__monedas{
    width: 19.7rem;
    height: auto;
    background-color: var(--just-white);
    margin: 0 auto;
    border-radius: 0.8rem;
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    font-family: var(--font-inter);
}

.tables__monedas .monedas__title{
    font-size: 1.6rem;
    color: #B5B0AC;
    text-align: left;
    padding: 1rem;
    height: 4rem;
    border-bottom: 0.1rem solid #f0eeee;
    border-right: 0.1rem solid #f0eeee;
}

.tables__monedas .monedas__title:nth-child(7){
    border-bottom: none;
}

.tables__monedas .monedas__value{
    font-size: 1.4rem;
    color: var(--grey-2);
    padding: 1rem;
    height: 4rem;
    border-bottom: 0.1rem solid #f0eeee;
}
.tables__monedas .monedas__value:last-child{
    border-bottom: none;
}
.monedas__value img{
    margin-left: 1rem;
}

.table-one__estado, .table-two__estado{
    height: 3.1rem;
    width: 18rem;
    padding: 0.8rem;
    border-radius: 0.8rem;
    text-align: center;
    margin: 0 auto;
    font-size: 1.2rem;
    font-family: var(--font-inter);
    margin-top: 1.6rem;
}

.table-one__estado{
    background-color: var(--soft-orange);
}

.table-two__estado{
    background-color: var(--soft-blue);
}

.table-one__estado p, .table-two__estado p{
    font-weight: bold;
}
.table-one__estado p span, .table-two__estado p span{
    font-weight: var(--size-500);
}
.table-one, .table-two{
    position: relative;
}
.table-one .table-one__title, .table-two .table-two__title{
    font-weight: bold;
    font-size: 1.8rem;
    padding-top: 4.8rem;
    padding-bottom: 1.2rem;
    text-align: left;
    width: 17.3rem;
    margin: 0 auto;
}
.table-one .table-one__title{
    color: rgba(255, 149, 54, 1);
}

.table-two {
    display: none;
}


.table-two .table-two__title{
    color: var(--secondary-blue);
}
.arrow-change{
    background-image: url("./assets/icons/arrow_right.svg");
    height: 2.4rem;
    width: 2.4rem;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: 0.5rem;
    top: 55%;
    cursor: pointer;
}

.arrow-change-back{
    cursor: pointer;
    background-image: url("./assets/icons/arrow_left.svg");
    height: 2.4rem;
    width: 2.4rem;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 55%;
}


.main-product-detail{
    width: 100%;
    min-width: 32rem;
    height: auto;
    position: relative;
    background-color: var(--warm-black);
    padding-top: 6.4rem;
    padding-bottom: 4rem;
}

.main-product-detail > img{
    position: absolute;
    width: 4rem;
    height: 2.4rem;
    left: calc(50% - 2rem);
    top: -1rem;
}

.product-detail__title{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}


.product-detail__title h2{
    color: var(--just-white);
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.8rem;
}

.product-detail__title p{
    color: rgba(128, 128, 128, 1);
    font-size: 1.4rem;
    font-weight: var(--size-500);
    margin-top: 2.4rem;
    margin-bottom: 3.2rem;
    line-height: 1.8rem;
}

.main-product-detail .product-cards__container{
    width: 90%;
    margin: 0 auto;
    display: grid;
    place-content: center;
}
.product-cards__container .product-detail__card{
    width: 28.8rem;
    height: 15.2rem;
    background-color: var(--warm-black-1);
    border-radius: 0.4rem;
    text-align: start;
    margin-bottom: 1.6rem;
    display: grid;
    place-content: center;
    padding: 0 1.6rem;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.16);
}

.product-detail__card img{
    height: 2.4rem;
    width: 2.4rem;
    margin-bottom: 1.2rem;
    margin-top: 1.4rem;
}

.product-detail__card .product__card-title{
    color: var(--just-white);
    font-weight: var(--size-700);
    font-size: 1.8rem;
    margin-bottom: 1rem;
    line-height: 1.8rem;
}

.product-detail__card .product__card-body{
    color: #808080;
    font-weight: var(--size-500);
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-bottom: 2.2rem;
}

.bitcoin-img-container{
    width: 100%;
    min-width: 32rem;
    height: 38.7rem;
    background-image: url('./assets/images/bitcoinbaby2x.jpg');
    background-position: center;
    background-repeat: none;
    background-size: cover;
    text-align: center;
}

.bitcoin-img-container h2{
    padding-top: 6.4rem;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--just-white);
}

.plans-main-container{
    width: 100%;
    min-width: 32rem;
    padding-bottom: 7rem;
    text-align: center;
    height: 70%;
}

.plans-main-container .plans__title{
    width: 90%;
    text-align: center;
    margin: 0 auto;
    padding-top: 6.4rem;
}

.plans__title h2{
    color: var(--warm-black);
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: bold;
}

.plans__title p{
    padding-top: 2.4rem;
    font-weight: var(--size-500);
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: rgba(117, 117, 117, 1);
}
.plans-container__slider{
    display: flex;
    height: 31.6rem;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    gap: 1rem;
}

.plans-container__card{
    padding-top: 4rem;
    scroll-snap-align: center;
    position: relative;
    margin: 5rem auto 0 auto;
    width: 19rem;
    min-width: 19rem;
    height: 24.7rem;
    background-color: var(--just-white);
    border-radius: 0.8rem;
    box-shadow: 0 0.4rem 0.8rem rgba(89, 73, 30, 0.16);
}

.plans-container__card > p{
    color: var(--just-white);
    font-size: 1.2rem;
    font-family: var(--font-inter);
    line-height: 1.5rem;
    font-weight: var(--size-500);
    background-color: var(--bitcoin-orange);
    border-radius: 0.8rem;
    width: 10.1rem;
    height: 3.1rem;
    display: grid;
    place-content: center;
    position: absolute;
    top: -1.2em;
    left: calc(50% - 10.1rem/2);
}
.plans__detail-price{
    width: 90%;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    align-content: center;
}

.plans__detail-price h3{
    color: black;
    font-weight: var(--size-500);
    font: 1.4rem;
    line-height: 1.8rem;
}

.plans__detail-price .detail-price__price{
    font-family: var(--font-inter);
    line-height: 6.3rem;
    letter-spacing: -0.08em;
    color: black;
    font-weight: var(--size-700);
    font-size: 5.2rem;
    position: relative;
}

.detail-price__price sup{
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: var(--size-500);
    color: #363636;
    position: absolute;
    top: 1rem;
    left: calc(50% - 3.8rem);
}

.detail-price__description{
    font-size: var(--size-500);
    font-family: var(--font-inter);
    color: #757575;
    line-height: 1.5rem;
    margin: 1.6rem auto;
}

.detail-price__button{
    margin-top: 1.6rem;
    background-color: var(--off-white);
    width: 15.1rem;
    height: 4.8rem;
    border-radius: 0.4rem;
    border: 0.2rem solid var(--bitcoin-orange);
    color: var(--warm-black);
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: var(--size-700);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    cursor: pointer;
}

.detail-price__button > span{
    width: 2.4rem;
    height: 2.4rem;
    margin-left: 0.8rem;
    display: block;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    background-image: url('./assets/icons/arrow-right-btn.svg');
}

.plans-container__card .plan-basic, .plans-container__card .plan-free{
    background-color: #f39d35;
}

footer{
    width: 100%;
    min-width: 32rem;
    height: 30vh;
    background-color: var(--bitcoin-orange);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer .footer__links ul li{
    list-style: none;
    margin-top: 0.8rem;
}
footer .footer__links ul li a{
    text-decoration: none;
    color: var(--just-white);
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: lighter;
}
footer .footer__logo figure{
    text-align: center;
}

footer .footer__logo figure img{
    margin-bottom: 0.7rem;
}

footer .footer__logo figure figcaption{
    color: var(--just-white);
    font-weight:lighter;
    font-size: 0.8rem;
    line-height: 1.8rem;
}
